In [1]:
import numpy as np
import pandas as pd

### 1. 1024_punch_MIX+REAL_resume18000

In [48]:
# 1024_punch_MIX+REAL_resume18000
mu_ckpt_dir = "1024_punch_MIX+REAL_resume18000"
mu_eval_dir = "/eval/"
count = 0
trial = "trial" + str(count)
mu_reward = np.load(mu_ckpt_dir + mu_eval_dir + trial + "_avg_reward.npy", allow_pickle=True)
mu_tracking_errors = np.load(mu_ckpt_dir + mu_eval_dir + trial + "_tracking_errors.npy", allow_pickle=True)
print(mu_reward.shape)
print(mu_tracking_errors.shape)

(300, 4)
(300, 3)

## 1-1. rewards

In [49]:
mu_rewards = pd.DataFrame(data=mu_reward)
mu_rewards.columns=["upper_disc", "lower_disc", "sparse_sensor_reward", "direction_reward"]
mu_rewards

     upper_disc  lower_disc  sparse_sensor_reward  direction_reward
0     -0.410288    0.285465              0.288487          0.629275
1     -0.173806    0.366275              0.289864          0.622792
2     -0.155160    0.436365              0.402880          0.000000
3     -0.129887    0.466188              0.614734          0.000000
4     -0.098238    0.417768              0.733067          0.554229
..          ...         ...                   ...               ...
295   -0.033858    0.465465              0.802285          0.933897
296   -0.033802    0.479131              0.778466          0.927424
297   -0.024994    0.489009              0.763269          0.924124
298   -0.008988    0.485378              0.755508          0.926304
299    0.006529    0.473076              0.753043          0.926849

[300 rows x 4 columns]

In [50]:
print(mu_rewards['sparse_sensor_reward'].mean())
print(mu_rewards['direction_reward'].mean())
print(mu_rewards['upper_disc'].mean())
print(mu_rewards['lower_disc'].mean())

0.7937760823965072
0.8551636778004468
-0.013152255858294666
0.4548757839202881

## 1-2. tracking_errors

In [51]:
mu_tracking_errors = pd.DataFrame(data=mu_tracking_errors)
mu_tracking_errors.columns=["rlcontroller_errors(cm)", "headset_errors(cm)", "headset_errors(deg)"]
mu_tracking_errors

     rlcontroller_errors(cm)  headset_errors(cm)  headset_errors(deg)
0                   0.192348            0.701550             0.135335
1                   0.211112            0.642757             0.135335
2                   0.333614            0.779084             0.135335
3                   0.597195            0.915819             0.135335
4                   0.770604            0.900555             0.135335
..                       ...                 ...                  ...
295                 0.906712            0.770267             0.135335
296                 0.868976            0.783243             0.135335
297                 0.846568            0.785690             0.135335
298                 0.832478            0.796199             0.135335
299                 0.826942            0.803252             0.135335

[300 rows x 3 columns]

In [52]:
print(mu_tracking_errors['rlcontroller_errors(cm)'].mean())
print(mu_tracking_errors['headset_errors(cm)'].mean())
print(mu_tracking_errors['headset_errors(deg)'].mean())

0.8674309874574343
0.8652043002843857
0.1353352899849415

# 2. 1024_punch_MIX

In [53]:
# 1024_punch_MIX
m_ckpt_dir = "1024_punch_MIX"
m_eval_dir = "/eval/"
count = 0
trial = "trial" + str(count)
m_reward = np.load(m_ckpt_dir + m_eval_dir + trial + "_avg_reward.npy", allow_pickle=True)
m_tracking_errors = np.load(m_ckpt_dir + m_eval_dir + trial + "_tracking_errors.npy", allow_pickle=True)
print(m_reward.shape)
print(m_tracking_errors.shape)

(300, 4)
(300, 3)

In [56]:
m_reward = pd.DataFrame(data=m_reward)
m_reward.columns=["upper_disc", "lower_disc", "sparse_sensor_reward", "direction_reward"]
m_reward

     upper_disc  lower_disc  sparse_sensor_reward  direction_reward
0     -0.271879    0.267185              0.283729          0.590683
1     -0.263891    0.359464              0.307260          0.597320
2     -0.154928    0.435737              0.466310          0.000000
3     -0.088546    0.498732              0.640941          0.000000
4      0.027698    0.464147              0.669381          0.000000
..          ...         ...                   ...               ...
295    0.157144    0.432700              0.552075          0.881051
296    0.141267    0.430726              0.552588          0.893618
297    0.130595    0.423874              0.556862          0.912629
298    0.083718    0.418021              0.565550          0.924810
299    0.105168    0.416820              0.575085          0.931134

[300 rows x 4 columns]

## 2-1. rewards

In [57]:
print(m_reward['sparse_sensor_reward'].mean())
print(m_reward['direction_reward'].mean())
print(m_reward['upper_disc'].mean())
print(m_reward['lower_disc'].mean())

0.6716236890355746
0.7799767869710922
0.14942576654876272
0.4281487845381101

## 2-2. tracking_errors

In [59]:
m_tracking_errors = pd.DataFrame(data=m_tracking_errors)
m_tracking_errors.columns=["rlcontroller_errors(cm)", "headset_errors(cm)", "headset_errors(deg)"]
m_tracking_errors

     rlcontroller_errors(cm)  headset_errors(cm)  headset_errors(deg)
0                   0.206846            0.627018             0.135335
1                   0.264524            0.542796             0.135335
2                   0.455808            0.668554             0.135335
3                   0.667178            0.801915             0.135335
4                   0.703419            0.817271             0.135335
..                       ...                 ...                  ...
295                 0.582908            0.652529             0.135335
296                 0.583824            0.651889             0.135335
297                 0.588566            0.656658             0.135335
298                 0.598998            0.663593             0.135335
299                 0.611394            0.667877             0.135335

[300 rows x 3 columns]

In [60]:
print(m_tracking_errors['rlcontroller_errors(cm)'].mean())
print(m_tracking_errors['headset_errors(cm)'].mean())
print(m_tracking_errors['headset_errors(deg)'].mean())

0.7030586287379265
0.8297455996274948
0.13533529023329416

# 1024_punch_REAL

In [11]:
# 1024_punch_REAL
reward = np.load("1024_punch_REAL/avg_reward_trial0.npy", allow_pickle=True)
print(reward.shape)
rewards = pd.DataFrame(data=reward)
rewards.columns=["upper_disc", "lower_disc", "sparse_sensor_reward", "direction_reward"]
print(rewards)

(300, 4)
     upper_disc  lower_disc  sparse_sensor_reward  direction_reward
0     -0.421663    0.246880              0.306530          0.592842
1     -0.087479    0.311209              0.365296          0.000000
2     -0.098386    0.367120              0.554507          0.000000
3     -0.084528    0.397896              0.717503          0.600666
4     -0.005183    0.374344              0.756482          0.617320
..          ...         ...                   ...               ...
295    0.046938    0.335400              0.764207          0.924101
296    0.048687    0.310856              0.778317          0.941511
297    0.048619    0.296559              0.778635          0.954241
298    0.048334    0.292531              0.779040          0.965750
299    0.049818    0.297712              0.778399          0.971883

[300 rows x 4 columns]

In [12]:
print(rewards['sparse_sensor_reward'].mean())
print(rewards['direction_reward'].mean())
print(rewards['upper_disc'].mean())
print(rewards['lower_disc'].mean())

0.7653540231784185
0.48184540814720095
0.030596952703781426
0.3739568544427554

# WITHOUT SPARSE SENSOR REWARDS